CUSTOMER SUPPORT.json
{
  "name": "CUSTOMER SUPPORT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "98059bca-735d-4d7b-97c6-5210e4afbc50",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "b07bl0fwflXFyWC0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "reg file ",
              "description": "an email that is related to reports like (RPA final report and kishore)which are present in FAQ database like asking details or content that is present in the documents"
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "10761b10-cb15-4b4e-87cc-0ac102352634",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "microsoft/mai-ds-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        200,
        220
      ],
      "id": "97ca672d-88a4-4fa1-b833-6cde0093c93e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "c4hij0iIAqyj5Gbp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Overview\n  -do not use the chat model if the content present in the RPA_Final_Projrct_Report\n  -you are going to write a reply mail based on the question asked in the mail received for the data which is present in the RPA_Final_Projrct_Report\n\n\n## Instructions\n  -the reply mail should contains the content which is present in the RPA_Final_Projrct_Report\n## Output\n  -output only the body content of the mail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        780,
        -200
      ],
      "id": "fb687adf-d433-4a1e-8266-bebbd89abb66",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        120
      ],
      "id": "377fca68-a214-47f7-bc80-3159dfed77dd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        -20
      ],
      "id": "6a73a5d1-d61c-437f-a75e-6c9d7a8f7fdc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I9dOmauVdad2H5u3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the RPA report and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1020,
        0
      ],
      "id": "9cc582c0-c33a-446a-81e1-6259ed3791cd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "l8xNFPcPr5dsq1Z6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        220
      ],
      "id": "1ecaf0a8-587b-4bfc-80a4-ea1e8b147356",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "I9dOmauVdad2H5u3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Text Classifier').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1140,
        -200
      ],
      "id": "56b7729d-c3e8-4339-8a27-102a1ca92e98",
      "name": "Reply to a message",
      "webhookId": "ceb95819-4c4d-499b-b2d1-bf1dbc657c31",
      "credentials": {
        "gmailOAuth2": {
          "id": "b07bl0fwflXFyWC0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b83fdf7-8086-4e19-9eea-3a145223011a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d93ac3170563010fdc2dee65c3e4970560365cd3ad718250035d3cf1683fe3"
  },
  "id": "YoEnRg3cs4gaQyA9",
  "tags": []
}